.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  min-height: 70vh;
}
.title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--contrast-color);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
}
.form input {
  width: 100%;
  border: #f5f5f5;
  height: 2rem;
}
.form label {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  color: var(--main-color-dark);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2rem;
  background-color: var(--main-color-dark);
  color: #f5f5f5;
  border: none;
  border-radius: 0.2rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: var(--transition);
}
.button:hover {
  background-color: var(--main-color-light);
  color: var(--dark-color);
}
