@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* variables */
:root {
  --main-bg-color: #83BCA0;
  --main-color-dark:#4F866D;
  --main-color-light:#9BB0A5;
  --contrast-color:#968CD9;
  --light-bg:#E6EDE2;
  --dark-color:#394B41;
  --transition: all .5s ease-in-out;
}