.countContainer{
    display: flex;
    flex-direction: column;
}
.buttonContainer{
    display: flex;
    width: 100%;
}
.buttonCount{
width: 20px;
height: 20px;
border:none;
font-size: 16px;
color:var(--main-color-dark)
}
.counter{
    width: 80%;
    text-align: center;
}
.addChart{
    width:100%;
    border: none;
    background: var(--main-color-light);
    padding: 5px;
    color:var(--light-bg );
    transition: var(--transition);
}
.addChart:hover {
    background: var(--light-bg);
    color:var(--main-color-dark);
}