.itemsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap:15px;
}

/* media queries */
@media (min-width: 768px) {
    .itemsContainer{
        flex-direction: row;
        flex-wrap: wrap;
    }
}